@font-face {
    font-family: 'Bebas Neue Bold';
    src: url('../fonts/bebas-neue-bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gotham-pro.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../fonts/gotham-pro-bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../fonts/gotham-pro-medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../fonts/gotham-pro-light.ttf');
    font-weight: normal;
    font-style: normal;
}
/* ---------------------------------reset styles-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	font-style: inherit;
	font-weight: 400;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
  font-family: 'Gotham Pro';
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f0ebe8;
  width: 100%;
  color: #3b3b3b;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul{
	list-style: none;
}

table{
	border-collapse: separate;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: none;
}

a:hover,
a:active {
	outline: none;
}

a img {
	border: 0;
}
div{
    display: block;
}
img{
    max-width: 100%;
    height: auto;
}
strong, b, h1, h2, h3, h4, h5, h6{
  font-family: 'Gotham Pro Bold';
}

p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
}
/* ---------------------------------reset styles-------------------------------------------------------- */
.site-container{
  max-width: 1554px;
  margin: auto;
}
#header{
  max-width: 1475px;
  margin: auto;
  min-height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu{
  width: 635px;
  display: flex;
  justify-content: space-between;
}
.header-menu .header-menu-item{
  margin: 0 10px;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  transition: all .3s linear;
}
.header-menu .header-menu-item.active,
.header-menu .header-menu-item:hover{
  color: #d4416a;
  border-color:#d4416a;
}
.header-phones{
  display: flex;
  width: 160px;
  flex-wrap: wrap;
}
.header-phones a{
  font-family: "Gotham Pro Medium";
  color: #333333;
  font-size: 14px;
  text-decoration: none;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.header-phones a img{
  margin-right: 5px;
}
.header-phones a span{
  font-family: "Gotham Pro Light";
  margin: 5px 3px 5px 0;
}
.main-container{
  min-height: 621px;
  background-image: url(../images/woman-bg.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.main-container::before{
  content: '';
  display: block;
  width: 100%;
  height: 24px;
  background-image: url(../images/wave-1.png);
  background-position: center left;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  top: 0;
}
.main-container::after{
  content: '';
  display: block;
  width: 100%;
  height: 24px;
  background-image: url(../images/wave-2.png);
  background-position: center left;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-wrapper{
  max-width: 935px;
  margin-left: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-content{
  max-width: 595px;
}
.main-content-title{
  color: #333333;
  font-family: 'Bebas Neue Bold';
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 45px;
}
.main-content-title span{
  color: #d4416a;
  font-family: 'Bebas Neue Bold';
}
.main-content-text{
  max-width: 470px;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
  font-family: "Gotham Pro";
  margin: 0 auto;
}
.main-content-text span{
  display: block;
  text-align: center;
}
.order-btn{
  margin: 0 auto;
  display: block;
  width: 300px;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  background:#d4416a;
  background: linear-gradient(0deg, #d4416a 0%, #bb3e61 100%);
  border-bottom: 3px solid #ab3456;
  transition: all .3s linear;
}
.main-content .order-btn{
    margin-top: 40px;
}
.order-btn span{
  font-family: "Gotham Pro Bold";
}
.order-btn:hover{
  border-color:#bb3e61;
}
.main-content-img{
  margin-top: 95px;
}
.about-container-wrapper{
  position: relative;
  padding-bottom: 175px;
}
.about-container-wrapper .liplit-img{
  position: absolute;
  bottom: 35px;
  right: 65px;
}
.about-container-wrapper::after{
  content: '';
  display: block;
  width: 100%;
  height: 24px;
  background-image: url(../images/wave-3.png);
  background-position: center left;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  bottom: 0;
}
.about-container{
  max-width: 1160px;
  margin: 0 auto;
}
.about-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-title{
  font-size: 36px;
  line-height: 48px;
  color: #d4416a;
  font-family: "Gotham Pro Bold";
  text-align: center;
  color: #d4416a;
  margin: 85px 0 50px;
}
.about-text-block{
  flex-basis:760px;
  padding: 0 10px;
}
.about-text{
  font-size: 16px;
  line-height: 36px;
  color: #333333;
  margin: 65px 0;
}
